In [1]:
#Importing the Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Reading csv file using pandas.read_csv and saved in data variable
data = pd.read_csv("insurance_pre.csv")

In [3]:
data

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
data=pd.get_dummies(data,drop_first=True)

In [5]:
data

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
#independent variable is an input(age,bmi,children)
independent = data[["age","bmi","children","sex_male","smoker_yes"]]
#Depedent variable is output(charges)
dependent = data[["charges"]]

In [7]:
#Creating a model for train set
#from sklearn library call model_selection function and import train_test_split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(independent,dependent, test_size = 1/3, random_state = 0)

In [8]:
#Standardization is changing every colume into same range of value
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [12]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid = {"criterion":["mae","mse","friedman_mse"],
             "n_estimators":[10,100],"max_features":["auto","sqrt","log2"]}

grid = GridSearchCV(RandomForestRegressor(), param_grid, refit=True, verbose = 3,n_jobs=-1)
grid.fit(X_train, y_train)

Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed:   14.5s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:   17.5s finished
C:\Users\vijai\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:715: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mae', 'mse', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [17]:
re=grid.cv_results_
grid_predictions=grid.predict(X_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)

print("The R_score value for best parameter{}:".format(grid.best_params_),r_score)

The R_score value for best parameter{'criterion': 'mae', 'max_features': 'log2', 'n_estimators': 100}: 0.8719630005542502

In [14]:
table=pd.DataFrame.from_dict(re)

In [15]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.182302,0.014733,0.010418,0.007367,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.761301,0.764846,0.778788,0.768303,0.007547,18
1,1.557395,0.032107,0.031255,0.000003,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.785401,0.785289,0.792542,0.787741,0.003392,11
2,0.098965,0.007364,0.010420,0.007368,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.759302,0.776597,0.782480,0.772778,0.009842,17
3,0.968813,0.025515,0.026048,0.007366,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.798909,0.804853,0.793257,0.799006,0.004732,5
4,0.119800,0.007366,0.010418,0.007367,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.796655,0.788122,0.787723,0.790840,0.004122,9
5,1.016365,0.043722,0.026044,0.007367,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.808818,0.809540,0.795010,0.804460,0.006684,1
6,0.036460,0.007364,0.010418,0.007366,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.778827,0.789148,0.798635,0.788859,0.008091,10
7,0.369817,0.026559,0.020836,0.007365,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.784728,0.794348,0.794263,0.791106,0.004517,8
8,0.041668,0.007365,0.005208,0.007365,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.762093,0.787378,0.787644,0.779019,0.011989,14
9,0.332485,0.028244,0.026046,0.007367,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.805946,0.799787,0.792192,0.799316,0.005626,3
10,0.061640,0.020875,0.010418,0.007367,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.780229,0.784086,0.784365,0.782891,0.001888,12
11,0.312523,0.022097,0.026044,0.007365,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.801402,0.805030,0.791038,0.799159,0.005926,4
12,0.046878,0.000002,0.010420,0.007368,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.783256,0.775239,0.782078,0.780194,0.003534,13
13,0.390648,0.012758,0.026044,0.007368,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.788616,0.796952,0.798809,0.794785,0.004435,7
14,0.036462,0.007365,0.010418,0.007367,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.788153,0.763001,0.775392,0.775530,0.010271,16
15,0.312522,0.022100,0.026045,0.007365,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.796657,0.802855,0.790930,0.796814,0.004867,6
16,0.036460,0.007367,0.005209,0.007367,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.758959,0.788501,0.789232,0.778875,0.014109,15
17,0.296898,0.012761,0.031253,0.000001,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.804010,0.808464,0.794632,0.802371,0.005762,2

In [16]:
age_input,bmi_input,childern_input,sex_male,smoker_yes=int(input("Enter the Age: ")),int(input("Enter the BMI: ")),int(input("Enter the Children: ")),int(input("Enter the Sex Male 0 or Female 1: ")),int(input("Enter Smoker YES 0 or NO 1: "))

Enter the Age: 24
Enter the BMI: 25
Enter the Children: 2
Enter the Sex Male 0 or Female 1: 0
Enter Smoker YES 0 or NO 1: 1

In [14]:
#Calculating prediction value
Future_Prediction=regressor.predict([[age_input,bmi_input,childern_input,sex_male,smoker_yes]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[48549.17835]